@{
    var wd = (WeatherData)ViewData["WD"];
    DayData[] data = wd.GetDayData(DAYS.Weekdays);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SurfsUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SurfsUp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div id="sidebar">
        <div class="logo">
            <a href="../HTML/Surfsup.html">
                <img src="../Img/Logo.png" alt="Surf's Up Logo">
            </a>
        </div>
        <div class="location">
            <h2>Odense</h2>
            <div id="day0"><p>Mandag <i>(@data[0].DateString)</i><br>@data[0] °C</p></div>
            <div id="day1"><p>Tirsdag <i>(@data[1].DateString)</i><br>@data[1] °C</p></div>
            <div id="day2"><p>Onsdag <i>(@data[2].DateString)</i><br>@data[2] °C</p></div>
            <div id="day3"><p>Torsdag <i>(@data[3].DateString)</i><br>@data[3] °C</p></div>
            <div id="day4"><p>Fredag <i>(@data[4].DateString)</i><br>@data[4] °C</p></div>
        </div>
        <div class="hours">
            <h3>Åbningstider:</h3>
            <p>Mandag - Torsdag: 08:00 - 16:00<br>Fredag - Lørdag: 08:00-19:00<br>Søndag: Lukket</p>
        </div>
        <div class="contact">
            <h3>Kontakt:</h3>
            <p>Email: kontakt@surfsup.dk<br>Phone: +45 69459835</p>
            <div class="social-icons">
                <a href="https://haflaburger.dk/" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-facebook-official"></i>
                </a>
                <a href="https://haflaburger.dk/" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="https://haflaburger.dk/" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-twitter-square"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="box">
        <nav>
            <a href="#practical-info">Praktisk Info</a>
            <a href="#equipment">Udstyr</a>
            <a href="#instructors">Instruktører</a>
            <a id="book-btn" href="#book">Book</a>
        </nav>
        <main id="page" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        var dates = [];
        @foreach (var d in data) {
            @:dates.push(@d.DateUnix * 1000);
        }

        for (let i = 0; i < dates.length; i++) {
            var testDate = new Date(dates[i]).getDate();
            var currDate = new Date().getDate();

            if (testDate === currDate)
            { document.getElementById(`day${i}`).style.fontWeight = "bold"; }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
