@model DetailModel

<h1 id="equipment" class="display-4">Udstyr</h1>
<p>Hos Surf's Up forstår vi, at det rigtige udstyr kan gøre hele forskellen på vandet. Derfor tilbyder vi et bredt
    udvalg af kvalitetsudstyr, der passer til både begyndere og erfarne surfere. Her er et overblik over det udstyr, du
    kan leje hos os:
</p>
<h5>Surfbrætter</h5>
<ul>
    <li><b>Longboards:</b> Perfekt til begyndere og dem, der ønsker en stabil og afslappet surfoplevelse.
        Longboards gør det lettere at fange bølger og holde balancen.</li>
    <li><b>Shortboards:</b> Ideelle til mere erfarne surfere, der ønsker hurtige og manøvredygtige brætter.
        Shortboards giver dig mulighed for at lave skarpe sving og tricks på bølgerne.</li>
    <li><b>Funboards:</b> En mellemting mellem longboards og shortboards, funboards er gode for dem, der er klar
        til at tage skridtet videre fra nybegynderbrættet, men stadig ønsker lidt ekstra stabilitet.</li>
    <li><b>Fishboards (Fish):</b> Fishboards er designet til de surfere, der leder efter en sjov og alsidig
        surfoplevelse. Disse kortere, bredere brætter er perfekte til små til mellemstore bølger og giver dig både
        hastighed og manøvredygtighed. De er et populært valg for dem, der ønsker at udforske en anden stil eller
        forbedre deres teknik i mindre bølger.</li>
    <li><b>SUP-brætter (Stand-Up Paddleboards):</b> Hvis du er mere til rolig padling end at fange bølger, kan
        du leje et SUP-bræt og udforske vandet i dit eget tempo.</li>
</ul>
<div class="grid">
    @foreach (EquipmentModel equipment in Model.Equipment)
    {
            <div class="card-equipment">
                <div class="image">
                    @if (@equipment.Type == "Shortboard")
                    {
                        <img src="~/images/boards/shortboard.png" alt="shortboard">
                    }
                    else if (@equipment.Type == "Longboard")
                    {
                        <img src="~/images/boards/longboard.png" alt="longboard">
                    }
                    else if (@equipment.Type == "Funboard")
                    {
                        <img src="~/images/boards/funboard.png" alt="funboard">
                    }
                    else if (@equipment.Type == "Fish")
                    {
                        <img src="~/images/boards/fish.png" alt="fish">
                    }
                    else if (@equipment.Type == "SUP")
                    {
                        <img src="~/images/boards/sup.png" alt="sup">
                    }
                </div>
                <div class="content">
                    <h4>@equipment.Name</h4>
                    <div class="description">
                        <table>
                            <tr>
                                <th>Længde(Inches):</th>
                                <td></td>
                                <td>@equipment.Length</td>
                            </tr>
                            <tr>
                                <th>Bredde(Inches):</th>
                                <td></td>
                                <td>@equipment.Width</td>
                            </tr>
                            <tr>
                                <th>Tykkelse(Inches):</th>
                                <td></td>
                                <td>@equipment.Thickness</td>
                            </tr>
                            <tr>
                                <th>Volumen(L):</th>
                                <td></td>
                                <td>@equipment.Volume</td>
                            </tr>
                            <tr>
                                <th>Type:</th>
                                <td></td>
                                <td>@equipment.Type</td>
                            </tr>
                            <tr>
                                <th>Pris:</th>
                                <td></td>
                                <td>@equipment.Price</td>
                            </tr>
                            @if (@equipment.Equipment != "")
                            {
                                <tr>
                                    <th>Tilbehør:</th>
                                    <td></td>
                                    <td>@equipment.Equipment</td>
                                </tr>
                            }
                        </table>
                        <button>Lej Board</button>
                    </div>
                </div>
            </div>
        }
</div>

<h5>Våddragter</h5>
<ul>
    <li><b>Våddragter i forskellige tykkelser:</b> Uanset årstiden har vi våddragter, der passer til vejret.
        Tyndere dragter til sommermånederne og tykkere dragter til koldere vandtemperaturer, så du kan holde
        varmen, mens du surfer.</li>
    <li><b>Fuld- og kortærmede dragter:</b> Vælg mellem fuld længde våddragter for maksimal beskyttelse eller
        kortærmede dragter, der giver større bevægelsesfrihed i varmere vejr.</li>
</ul>

<div class="grid">
    @foreach (SuitModel suits in Model.Suits)
    {
        <div class="card-equipment">
            <div class="image">
                <img src="~/images/suits/suit.png" alt="suit">
            </div>
            <div class="content">
                <h4>@suits.Name</h4>
                <div class="description">
                    <table>
                        <tr>
                            <th>Størrelse(r):</th>
                            <td></td>
                            <td>@suits.Sizes</td>
                        </tr>
                        <tr>
                            <th>Type:</th>
                            <td></td>
                            <td>@suits.Type</td>
                        </tr>
                    </table>
                    <b>Beskrivelse:</b>
                    <p>@suits.Description</p>
                    <button>Lej dragt</button>
                </div>
            </div>
        </div>
    }
</div>

<h5>Ekstraudstyr:</h5>
<ul>
    <li><b>Leashes:</b> Sørg for at dit surfbræt bliver ved din side med en pålidelig leash. Vi tilbyder
        forskellige længder, der passer til dine behov.</li>
    <li><b>Surf voks:</b> Få bedre greb på brættet med vores udvalg af surfvoks til forskellige
        vandtemperaturer. Perfekt til at forbedre stabiliteten, når du står på brættet.</li>
    <li><b>Rashguards:</b> Beskyt din hud mod sol og irritation med en rashguard. Disse lette, hurtigtørrende
        trøjer er ideelle til lange dage på vandet.</li>
</ul>
<div class="grid">
@{
    foreach (var equipment in Model.Suits)
    {
        if (equipment.Type == "Addon")
        {
            <div class="card-equipment">
                <div class="image">


                </div>
                <div class="content">
                    <h4>@equipment.Name</h4>
                    <div class="description">
                        <table>
                            <tr>
                                <th>Størrelse(r):</th>
                                <td></td>
                                <td>@equipment.Sizes</td>
                            </tr>
                        </table>
                        <button>Tilføj addon</button>
                    </div>
                </div>
            </div>
        }
    }
}
</div>

<p>
    Hos Surf's Up er vores mål at sikre, at du har det bedste udstyr til din surfoplevelse. Uanset hvad du vælger, kan
    du være sikker på, at alt vores udstyr er vedligeholdt og klar til brug. Lej udstyret direkte på vores hjemmeside,
    og forbered dig på en fantastisk dag på vandet!
</p>
@* <div class="grid">
    @foreach (var equipment in Model)
    {
        <div class="card-equipment">
            <div class="image">
                @if (@equipment.Type == "Shortboard")
                {
                    <img src="~/images/boards/shortboard.png" alt="shortboard">
                }
                else if (@equipment.Type == "Longboard")
                {
                    <img src="~/images/boards/longboard.png" alt="longboard">
                }
                else if (@equipment.Type == "Funboard")
                {
                    <img src="~/images/boards/funboard.png" alt="funboard">
                }
                else if (@equipment.Type == "Fish")
                {
                    <img src="~/images/boards/fish.png" alt="fish">
                }
                else if (@equipment.Type == "SUP")
                {
                    <img src="~/images/boards/sup.png" alt="sup">
                }

            </div>
            <div class="content">
                <h4>@equipment.Name</h4>
                <div class="description">
                    <table>
                        <tr>
                            <th>Længde(Inches):</th>
                            <td></td>
                            <td>@equipment.Length</td>
                        </tr>
                        <tr>
                            <th>Bredde(Inches):</th>
                            <td></td>
                            <td>@equipment.Width</td>
                        </tr>
                        <tr>
                            <th>Tykkelse(Inches):</th>
                            <td></td>
                            <td>@equipment.Thickness</td>
                        </tr>
                        <tr>
                            <th>Volumen(L):</th>
                            <td></td>
                            <td>@equipment.Volume</td>
                        </tr>
                        <tr>
                            <th>Type:</th>
                            <td></td>
                            <td>@equipment.Type</td>
                        </tr>
                        <tr>
                            <th>Pris:</th>
                            <td></td>
                            <td>@equipment.Price</td>
                        </tr>
                        @if (@equipment.Equipment != "")
                        {
                            <tr>
                                <th>Tilbehør:</th>
                                <td></td>
                                <td>@equipment.Equipment</td>
                            </tr>
                        }
                    </table>
                    <button>Lej Board</button>
                </div>
            </div>
        </div>
    }
</div> *@